/*Global vars*/

$white: #fff;
$black: #000;

/*columns*/
$column_spacer: 15px;
$column_spacer-left: $column_spacer;
$column_spacer-right: $column_spacer;
$column_counter: 12;
$cont_width: 95%;
$max_cont_width: 1170px;

$globalPaddingLeft: 60px;
$globalBigLeft: 75px;

/*grid sizes*/
$user-breakpoints: (
        xs : 540px,
        s : 769px,
        m : 960px,
        l : 1200px
);

/*shadows*/
/*$shadow: 0.5px 0.866px 21px 0px rgba(0, 0, 0, 0.14);*/
/*$txt_shadow:1px 1px 1px rgba(255, 255, 255, 1);*/

/*placeholder color mixin*/
@mixin palceholders($placeholder-color) {
  ::-webkit-input-placeholder {
    color: $placeholder-color !important;
  }
  :-moz-placeholder {
    color: $placeholder-color !important;
  }
  ::-moz-placeholder {
    color: $placeholder-color !important;
  }
  :-ms-input-placeholder {
    color: $placeholder-color !important;
  }
}