.example-grid {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .8;
  width: 100%;
  z-index: 999999999;
  pointer-events: none;
  .normal-grid, .legacy-grid {
    display: grid;
    font-size: 8px;
    line-height: 2;
    color: white;
    @for $i from 1 through 28 {
      .box:nth-of-type(#{$i}) {
        grid-column: #{$i};
        background-color: cornflowerblue;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        border-right: 1px solid white;
        &:after {
          content: '#{$i}';
        }
        &:before {
          content: '';
          height: 100vh;
          border-right: 1px dotted cornflowerblue;
          position: absolute;
          left: -1px;
        }
      }
    }
  }
  .normal-grid {
    display: none;
  }
  @supports (display: grid) {
    .normal-grid {
      display: grid;
    }
  }
}