@mixin exampleGrid($columns:28) {
  .example-grid {
    position      : fixed;
    top           : 0;
    left          : 0;
    opacity       : .8;
    width         : 100%;
    z-index       : 999999999;
    pointer-events: none;

    .normal-grid,
    .legacy-grid {
      display    : grid;
      font-size  : 8px;
      line-height: 2;
      color      : white;

      @for $i from 1 through $columns {
        .box:nth-of-type(#{$i}) {
          grid-column     : #{$i};
          background-color: cornflowerblue;
          text-align      : center;
          box-sizing      : border-box;
          position        : relative;
          border-right    : 1px solid white;

          &:after {
            content: '#{$i}';
          }

          &:before {
            content     : '';
            height      : 100vh;
            border-right: 1px dotted cornflowerblue;
            position    : absolute;
            left        : -1px;
          }
        }
      }
    }

    .normal-grid {
      display: none;
    }

    @supports (display: grid) {
      .normal-grid {
        display: grid;
      }
    }
  }
}


@mixin responsiveGrid(
  $screenSize:1280px,
  $gridGap:30px,
  $normalGrid: 1fr repeat(12, minmax(0, 70px)) 1fr,
  $legacyGrid:1fr repeat(12, 30px minmax(0, 70px)) 30px 1fr,
  $ieNativeGrid: "1fr (30px minmax(0px, 70px))[12] 30px 1fr") {
  @media screen and (min-width: $screenSize) {
    .example-grid {
      .normal-grid {
        grid-column-gap      : $gridGap;
        grid-template-columns: $normalGrid;
      }

      .legacy-grid {
        grid-template-columns: 1fr repeat(12, 30px minmax(0, 70px)) 30px 1fr;
      }
    }

    .grid {
      grid-column-gap          : $gridGap;
      $from-smartphone-portrait: unquote($ieNativeGrid);
      -ms-grid-columns         : $from-smartphone-portrait;
      grid-template-columns    : $normalGrid;
    }
  }
}

// @media screen and (min-width: 375px) {
//   .example-grid {
//     .normal-grid {
//       grid-column-gap      : 20px;
//       grid-template-columns: 1fr repeat(12, minmax(8px, 10%)) 1fr;
//     }

//     .legacy-grid {
//       grid-template-columns: 1fr repeat(12, 20px minmax(8px, 10%)) 20px 1fr;
//     }
//   }

//   .grid {
//     grid-column-gap          : 20px;
//     $from-smartphone-portrait: unquote("1fr (20px minmax(8px, 10%))[12] 20px 1fr");
//     -ms-grid-columns         : $from-smartphone-portrait;
//     grid-template-columns    : 1fr repeat(12, minmax(8px, 10%)) 1fr;
//   }
// }

// @media screen and (min-width: 1023px) {
//   .example-grid {
//     .normal-grid {
//       grid-column-gap      : 20px;
//       grid-template-columns: 1fr repeat(12, minmax(0, 60px)) 1fr;
//     }

//     .legacy-grid {
//       grid-template-columns: 1fr repeat(12, 20px minmax(0, 60px)) 20px 1fr;
//     }
//   }

//   .grid {
//     grid-column-gap          : 20px;
//     $from-smartphone-portrait: unquote("1fr (20px minmax(0px, 60px))[12] 60px 1fr");
//     -ms-grid-columns         : $from-smartphone-portrait;
//     grid-template-columns    : 1fr repeat(12, minmax(0px, 60px)) 1fr;
//   }
// }